<%= render 'shared/new_nav' %>
<section>
<div class="flex justify-center p-5>
<h3>CREATE GROUP</h3>
<div class="flex flex-col">
  <div class="w-full">
    <%= form_with model: @groups, url: groups_path, scope: :group, html: {class: "bg-gray-200 w-screen"}, method: :post do |f| %>
      <div class="mb-2">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'mt-3 shadow border-none appearance-none w-full py-5 px-5 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', id: "name", placeholder: "Group Name" %>
      </div>
      <div class="mb-2">
        <%= f.url_field :icon, autofocus: true, autocomplete: "icon", class: 'mt-3 shadow border-none appearance-none w-full py-5 px-5 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', id: "icon", placeholder: "Add Img URL" %>
      </div>
      <div class="flex absolute bottom-0 left-0 w-full h-20 bg-lime-500 text-white justify-center font-bold py-2 px-4 focus:outline-none focus:shadow-outline" >
        <%= f.submit "Save", class:"self-center text-2xl"%>
      </div>
      <%end%>
  </div>
</div>
</div>
</section>