<%= render 'shared/new_nav' %>
<% if @operations.empty? %>
  <h2>You have no operations yet</h2>
<% else %>
  <h2 class="text-2xl font-bold text-gray-700 bg-white"><%= @group.name %> Total: $<%=@group.total_amount%></h2>
  <% @operations.order(created_at: :desc).each do |operation| %>
    <%= render 'shared/operations', operation: operation %>
  <% end %>
<% end %>
<div class="flex absolute bottom-0 left-0 w-full h-20 bg-lime-500 hover:bg-blue-700 text-white justify-center font-bold py-2 px-4 focus:outline-none focus:shadow-outline" >
  <%= link_to "Create Operation", new_group_operation_path(@group), class: "self-center text-2xl" %>
</div>